name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Connect to EC2 and Deploy
        run: |
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

          ssh -i private_key.pem -o StrictHostKeyChecking=no ubuntu@35.180.209.175 << 'EOF'
            # Define variables directly on the EC2 instance
            REPO_URL="https://github.com/ruvindiiii/find-my-movie-backend.git"
            APP_DIR="/home/ubuntu/find-my-movie-backend"

            export DATABASE_HOST=localhost
            export DATABASE_PORT=5432
            export DATABASE_USER=ruvi
            export DATABASE_PASSWORD=ruvi
            export DATABASE_NAME=movies

            mkdir -p ~/.ssh
            ssh-keyscan -H github.com >> ~/.ssh/known_hosts

            # Clone or update the repo
            if [ -d "$APP_DIR" ]; then
              cd $APP_DIR
              git pull origin main
            else
              git clone $REPO_URL $APP_DIR
              cd $APP_DIR
            fi

            # Install dependencies and restart the app
            npm install
            pm2 restart all || pm2 start npm --name "backend" -- start
          EOF
